page-outbox{

          
        ion-title {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 0 0px 1px;
            width: 70%;
            margin: auto;
            height: 100%;
            text-align: center;
          }
          .chatbox{
            height: 169px;
            background: #fefefe;
            border-radius: 20px;
          }
          .headingpara{
            font-size: 16px;
            font-weight: 500;
          }
          headingpara1{
            font-size: 14px;
            font-weight: 300;
            margin: 0;
          }
          .pdingleft{
            padding-left: 20px;
          }
          ion-app.md [padding] {
            padding: 9px !important;
        }
        .buubleDiv{
         
          text-align: center;
        }
        //   324a5e
        //   9bc785
        //   616161
    
    
}
