<ion-header>
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>Innata</ion-title>
          </ion-navbar>
    </ion-header>
    
    <ion-content class="bgcontent">
        <div style="padding:9px;">
            <!-- load more.... -->
            <div class="chatbox3" *ngIf="showdiv3 == true">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/user.jpg">
                    </ion-avatar>
                    <p class="drPara">Some Doctor.MD </p>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </ion-item>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/user.jpg">
                    </ion-avatar>
                    <p class="drPara">Some Doctor.MD </p>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </ion-item>
                <p class="loadpara" (click)="goToClinicalPage()"> load more...</p>
                <ion-row class="rowclass1">
                    <ion-col col-2 style="text-align:center; padding-top: 11px;">
                        <ion-icon ios="ios-mic-off" md="md-mic-off" style="font-size: 23px;"></ion-icon>
                    </ion-col>
                    <ion-col col-8 style="text-align:center">
                        <input type="text" class="input">
                    </ion-col>
                    <ion-col col-2 style="text-align:center ; padding-top: 11px;">
                        <ion-icon ios="ios-add" md="md-add" style="font-size: 23px;"></ion-icon>
                    </ion-col>
                </ion-row>
            </div>
            <!-- see more -->
            <div class="chatbox2" *ngIf="showdiv2 == true">
                <img src="assets/imgs/imges.PNG" style="width:100%">
                <ion-list style="margin: 0;">
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="assets/imgs/dr.jpg">
                        </ion-avatar>
                        <p class="drPara">Some Doctor.MD </p>
                        <p> Lorem Ipsum is simply dummy text
                            <br>the printing and typesetting</p>
    
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item style="    margin-top: -15px;">
                        <ion-avatar item-end>
                            <img src="assets/imgs/user.jpg">
                        </ion-avatar>
                        <p class="drPara">Ms. user </p>
                        <p> Lorem Ipsum is simply dummy text
                        </p>
                        <p class="seemore" (click)="goToPatientChatBox()">see more..</p>
                    </ion-item>
    
                </ion-list>
                <ion-row class="row2">
                    <!-- <ion-col col-12>
                            <button ion-button round full class="voicebutton">00:00/2:32
                                <ion-icon ios="ios-play" md="md-play" class="mediaicon"></ion-icon>
                            </button>
                        </ion-col> -->
                    <ion-item>
                        <ion-avatar item-end>
                            <img src="assets/imgs/user.jpg">
                        </ion-avatar>
                        <button ion-button round full class="voicebutton">00:00/2:32
                            <ion-icon ios="ios-play" md="md-play" class="mediaicon"></ion-icon>
                        </button>
                    </ion-item>
    
                    <!-- <div >   
                                    <img src="assets/imgs/user.jpg " class="usrimgss">
                            </div>
                             -->
    
                </ion-row>
                <div style="text-align: center;">
    
                </div>
                <ion-row class="rowclass1">
                    <ion-col col-2 style="text-align:center; padding-top: 11px;">
                        <ion-icon ios="ios-mic-off" md="md-mic-off" style="font-size: 23px;"></ion-icon>
                    </ion-col>
                    <ion-col col-8 style="text-align:center">
                        <input type="text" class="input">
                    </ion-col>
                    <ion-col col-2 style="text-align:center ; padding-top: 11px;">
                        <ion-icon ios="ios-add" md="md-add" style="font-size: 23px;"></ion-icon>
                    </ion-col>
                </ion-row>
            </div>
           <!-- blank with image -->
            <div class="chatbox1" *ngIf="showdiv1 == true">
                <div style="text-align:center" padding>
                    <img src="assets/imgs/logo1.jpg" style="height: 144px;">
                </div>
                <ion-row class="rowclass">
                    <ion-col col-2 style="text-align:center; padding-top: 11px;">
                        <ion-icon ios="ios-mic-off" md="md-mic-off" style="font-size: 23px;"></ion-icon>
                    </ion-col>
                    <ion-col col-8 style="text-align:center">
                        <input type="text" class="input">
                    </ion-col>
                    <ion-col col-2 style="text-align:center ; padding-top: 11px;">
                        <ion-icon ios="ios-add" md="md-add" style="font-size: 23px;"></ion-icon>
                    </ion-col>
                </ion-row>
            </div>
         <!-- Specialist -->
            <div class="chatbox" *ngIf="showdiv4 == true">
                <div padding>
                    <!-- <p class="headingpara"> Connect With User</p> -->
                    <p class="headingparaspecialist">Specialist:</p>
                    <div class="pdingleft">
                        <p class="headingpara1"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        </p>
                        <p class="explore_more_text" (click)="goToSpecialistPage()">Explore more..</p>
                    </div>
                </div>
            </div>
            <!-- My genes -->
            <div class="chatbox" *ngIf="showdiv6 == true">
                <div padding>
                    <p class="headingparaspecialist"> My Genes
                        <div class="pdingleft">
                            <p class="headingpara1"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            </p>
                            <p class="explore_more_text" (click)="goToGensPage()">Explore more..</p>
                        </div>
                </div>
            </div>
            <!-- Elastic Search -->
            <div class="chatbox" *ngIf="showdiv5 == true">
                <div padding>
                    <p class="headingpara"> Elastic Search
                    </p>
                    <div class="pdingleft">
                        <p class="headingpara1"> Lorem Ipsum is simply dummy text of the printing and <span (click)="goToSearchPage()" style="color: #5c9be5;">Search</span>
                        </p>
                    </div>
                    <ion-row style="text-align:center;">
                        <ion-col col-2 style="text-align:center; padding-top: 11px;">
                            <ion-icon ios="ios-mic-off" md="md-mic-off" style="font-size: 23px;"></ion-icon>
                        </ion-col>
                        <ion-col col-8 style="text-align:center">
                            <input type="text" class="input" placeholder="Search for resources, groups">
                        </ion-col>
                        <ion-col col-2 style="text-align:center ; padding-top: 11px;">
                            <ion-icon ios="ios-add" md="md-add" style="font-size: 23px;" class="plusicon"></ion-icon>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
            <div class="buubleDiv">
                <img src="assets/imgs/Bubble_triangle.png" style="height: 60px;">
            </div>
        </div>


<!-- SVG CIRCLE -->
        
        <div>
            <div class="center_image">
                <img src="assets/imgs/center.png" style="width: 33%;position: absolute; top: 123px;left: 123px;">
            </div>
            <div id="knob" style="text-align: center; position: relative;" [ngClass]="transform">    
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 720 702" style="enable-background:new 0 0 720 702;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#A8E987;}
                        .st1{fill:#C0A3E4;}
                        .st2{fill:#C8CCA2;}
                        .st3{fill:#324A5E;}
                        .st4{opacity:0.2;enable-background:new    ;}
                        .st5{fill:#A9EA88;}
                        .st6{fill:#FFFFFF;}
                        .st7{fill:#283B4B;}
                        .st8{fill:#D4FCFF;}
                        .st9{fill:none;}
                        .st10{opacity:0.2;fill:#283B4B;enable-background:new    ;}
                        .st11{clip-path:url(#SVGID_2_);}
                        .st12{clip-path:url(#SVGID_4_);}
                        .st13{fill:none;stroke:#FF931E;stroke-width:0.6808;stroke-miterlimit:10;}
                        .st14{fill:#7AC943;}
                        .st15{fill:#00947D;}
                        .st16{opacity:0.2;}
                        .st17{fill:#FFB42A;}
                        .st18{fill:#FF76C5;}
                        .st19{fill:#FFE1D4;}
                        .st20{fill:#C9CDA3;}
                        .st21{fill:#FFB955;}
                        .st22{opacity:0.75;fill:#84DBFF;enable-background:new    ;}
                        .st23{fill:#BDC0C3;}
                        .st24{opacity:0.1;enable-background:new    ;}
                        .st25{fill:#495059;}
                        .st26{fill:#7FDBD5;}
                        .st27{fill:#B3E7FF;}
                        .st28{fill:#76B7EB;}
                    </style>
                    <path class="st0" d="M680.1,303.9c2.5,8.1,3.1,16.6,3.7,25c6.5,84.4-15.1,160.7-66.8,227.9c-40.3,52.4-92.4,88.6-155,109.8
                        c-0.6,0.2-1.3,0.2-2,0.3c-1.7-1-2.2-2.8-2.8-4.6c-6.6-19.2-12.6-38.6-18.9-57.9c-6.6-20.4-13.2-40.9-19.9-61.3
                        c-1.3-3.9-2.8-7.8-3.1-12c0.7-2.7,3.2-3.2,5.3-4c25-9.8,46.9-24.2,65.4-43.7c22.1-23.3,36.8-50.7,44.3-82c3.2-13.2,4.6-26.6,5.1-40
                        c0.3-9.3-1-18.6-2.3-27.8c-0.3-2.1-0.9-4.3,0.9-6.1c8.2-2.4,16.7-3,25.1-4.7c1.8-0.2,3.7,0,5.4-0.7c0.5-0.2,1-0.3,1.5-0.3
                        c1.8-0.1,3.6-0.3,5.4-1c11.5-2.5,23.1-4,34.7-6.1c1.8-0.2,3.7,0,5.4-0.7c0.5-0.2,1-0.3,1.5-0.3c1.8-0.1,3.6-0.3,5.4-1
                        c13.6-2.8,27.3-4.7,41-7.3c1.9,0.1,3.8,0.1,5.6-0.7C670.1,304,675,301.7,680.1,303.9z" (click)="search('2')"/>
                    <path class="st1" d="M37,328.7c-0.6-10,1.6-19.8,3.4-29.5c10-54.1,32.1-102.6,66.7-145.4c32-39.6,71.5-69.8,117.7-91.3
                        c0.7-0.3,1.6-0.4,2.4-0.6c2.1,0.1,2.5,2,3.1,3.4c8.3,18.1,16.3,36.4,24.5,54.6c9.6,21.4,19.1,42.8,28.7,64.2
                        c1.4,3.2,3.3,6.2,3.3,9.8c-1,2.9-3.9,3.5-6.2,4.7c-19.8,9.7-37.6,22-52.8,38c-25.9,27.4-42,59.6-47.7,96.9c-0.5,3.2,0.2,7.3-4.3,8.7
                        c-9.8,0.4-19.5-1.3-29.3-2.1c-24.2-2-48.3-4.5-72.4-6.6c-11.1-1-22.1-2.1-33.2-3C39.5,330.3,37.9,330.2,37,328.7z" (click)="search('1')"/>
                    <path class="st0" d="M37,328.7c26,2,51.9,4.4,77.8,7.1c16.5,1.7,33,2.8,49.6,4.2c4.3,0.4,8.6,0.8,12.9,1.2c2.1,1.2,1.3,3.2,1.2,4.9
                        c-1.1,21.9,0.5,43.6,6.9,64.7c7.7,25.6,20.4,48.3,38.1,68.4c8.2,9.3,17.5,17.2,27.2,24.9c1.6,1.2,3.3,2.3,4,4.3
                        c0.6,2.2-0.6,3.9-1.8,5.5c-21.5,30.6-42.6,61.4-64.2,92c-3.5,5-6.8,10.2-10.5,15.1c-1.1,1.4-1.8,3.3-4,3.2
                        c-9-5.1-16.9-11.8-24.7-18.6C89.9,553.7,52.8,489,39.3,411.1c-4.6-26.3-5.5-53-3.2-79.6C36.1,330.4,36.1,329.4,37,328.7z" (click)="search('3')"/>
                    <path class="st2" d="M680.1,303.9c-5,0.7-10.1,1.4-15.1,2.1c-1.5,1.2-3.5-0.2-4.9,1c-12.7,2.2-25.4,4.4-38.2,6.6
                        c-1.3,0.2-2.6,0.3-3.9,0.5c-1.5,1.2-3.5-0.2-4.9,1c-0.4,0-0.7,0-1.1,0c-1.5,1.1-3.5-0.2-4.9,1c-12,2-24,4-36.1,6
                        c-1.5,1.2-3.5-0.2-4.9,1c-0.4,0-0.7,0-1.1,0c-1.5,1.2-3.5-0.2-4.9,1c-8.6,1.6-17.1,3.5-25.9,4.1c-2.2-1.2-2.4-3.5-2.8-5.5
                        c-5-24-14.9-45.8-29-65.6c-16.2-22.6-36.4-40.9-61.2-53.9c-2.6-1.4-5.5-2.4-7.4-4.9c0.9-6.8,4.9-12.3,7.6-18.3
                        c11.6-25.1,23.3-50.1,34.8-75.2c5.1-11.2,10.9-22.1,15.4-33.6c1.1-2.8,2.1-6.1,5.3-7.5c19.7,8.3,37.9,19.4,55,32.1
                        c59.1,43.9,99.3,101.2,120.3,171.9C675.7,279.4,679,291.4,680.1,303.9z" (click)="search('5')"/>
                    <path class="st1" d="M174.1,624.2c10.4-14.8,20.9-29.5,31.3-44.3c15.4-22,30.8-44.1,46.1-66.2c1-1.5,1.9-3.1,2.8-4.7
                        c2.4-1.2,4.2,0.4,5.9,1.5c25.1,16.2,52.7,25.3,82.4,27.8c22.2,1.8,44.2-0.4,65.6-7c2.5-0.8,5-2.2,7.7-0.7
                        c12,37.2,24.1,74.5,36.1,111.7c2.7,8.2,5.3,16.4,8,24.6c-15.8,6-32.2,9.3-48.8,12.1c-25.9,4.3-52,5.2-78.2,3
                        c-57.4-5-110-23.7-157.6-56.3C174.9,625.3,174.6,624.7,174.1,624.2z" (click)="search('2')"/>
                    <path class="st0" d="M496.9,63.5c-10.4,22.4-20.6,44.8-31.2,67c-6,12.4-11.5,25-17.6,37.4c-4.9,9.7-8.6,20.1-14,29.6
                        c-1.8,1.8-3.4,0.2-4.9-0.4c-19.8-8.4-40.3-13.4-61.8-14.8c-25.5-1.7-50,2.4-73.9,11.1c-2.3,0.8-4.5,2.4-7.1,0.8
                        c-11.3-25.5-22.7-50.9-34-76.4c-7.9-17.7-15.8-35.5-23.7-53.2c-0.4-0.9-1-1.7-1.5-2.6c11.1-6.2,23.1-10.1,35.2-13.9
                        c36.4-11.5,73.7-16.5,111.8-14.8c42,1.9,82.3,11.5,120.6,28.9C495.5,62.5,496.1,63,496.9,63.5z" (click)="search('6')"/>
                    <g>
                        <circle class="st3" cx="155" cy="208.8" r="59.3" (click)="search('1')" />
                        <g>
                            <path class="st4" d="M127,233.4l29.4,34.6c18.1-0.4,35-9.1,45.9-23.6l-13.8-17.5L127,233.4z" (click)="search('1')" />
                            <path class="st5" d="M135.2,175h41.5c6.6,0,11.9,5.3,11.9,11.9v37.6c0,6.6-5.3,11.9-11.9,11.9h-41.5c-6.6,0-11.9-5.3-11.9-11.9
                                v-37.6C123.3,180.3,128.7,175,135.2,175z" (click)="search('1')" />
                            <path class="st5" d="M196.5,216.6h2c2.2,0,4-1.8,4-4v-19.8c0-2.2-1.8-4-4-4h-5.9v27.7H196.5z" (click)="search('1')" />
                            <path class="st4" d="M196.5,216.6h2c2.2,0,4-1.8,4-4v-19.8c0-2.2-1.8-4-4-4h-5.9v27.7H196.5z" (click)="search('1')" />
                            <path class="st5" d="M115.4,188.9h-2c-2.2,0-4,1.8-4,4v19.8c0,2.2,1.8,4,4,4h5.9v-27.7H115.4z" (click)="search('1')" />
                            <path class="st5" d="M160.9,167.1V179c0,2.2-1.8,4-4,4h-2c-2.2,0-4-1.8-4-4v-11.9c0-2.2,1.8-4,4-4h2
                                C159.2,163.2,160.9,165,160.9,167.1z" (click)="search('1')"/>
                            <g>
                                <circle class="st3" cx="141.8" cy="193.2" r="5.9" (click)="search('1')" />
                                <circle class="st3" cx="169.5" cy="193.2" r="5.9" (click)="search('1')" />
                            </g>
                            <rect x="146.8" y="214" class="st3" width="17.8" height="9.9" (click)="search('1')" />
                            <path class="st4" d="M176.7,175h-15.8v-7.9c0-2.2-1.8-4-4-4h-1v73.2h20.8c6.6,0,11.9-5.3,11.9-11.9v-37.6
                                C188.6,180.3,183.3,175,176.7,175z" (click)="search('1')"/>
                        </g>
                        <g>
                            <g>
                                <rect x="146.8" y="214.2" class="st3" width="17.8" height="9.9"/>
                                <g>
                                    <path class="st6" d="M188.3,210.8c-27.9,10.1-37.6,11.6-29.1,4.6c8.5-7.1,9.3-16.3,1.8-28.9" />
                                    <ellipse class="st6" cx="187.9" cy="194.8" rx="29.7" ry="19.8" />
                                </g>
                            </g>
                            <g>
                                <path d="M186.4,202h-2.2v-7.8h-8.5v7.8h-2.2v-16.9h2.2v7.3h8.5v-7.3h2.2L186.4,202z" />
                                <path d="M190,186.2c0-0.3,0.1-0.6,0.3-0.9c0.6-0.5,1.4-0.5,2,0c0.2,0.2,0.3,0.6,0.3,0.9c0,0.7-0.6,1.3-1.3,1.3
                                    C190.6,187.5,190.1,186.9,190,186.2C190.1,186.2,190.1,186.2,190,186.2L190,186.2z M192.3,202h-2.1v-12.5h2.1L192.3,202z" />
                                <path d="M196,201c0-0.3,0.1-0.6,0.3-0.9c0.2-0.3,0.6-0.4,0.9-0.4c0.4,0,0.7,0.1,0.9,0.4c0.2,0.2,0.3,0.6,0.3,0.9
                                    c0,0.7-0.5,1.2-1.1,1.2c0,0-0.1,0-0.1,0c-0.3,0-0.7-0.1-0.9-0.4C196.1,201.6,195.9,201.3,196,201z M198.1,197.3h-2l-0.1-12.1h2.2
                                    L198.1,197.3z" />
                            </g>
                        </g>
                    </g>
                    <g>
                        <circle class="st3" cx="128.6" cy="463.4" r="60.3" (click)="search('2')"/>
                        <path class="st7" d="M147.2,520.8l-15.7-28.3l-1.7-3l-35.1,6l13.8,24.7c12.5,4.4,26.1,4.6,38.8,0.5H147.2z" (click)="search('2')"/>
                        <path class="st8" d="M131.5,492.5c-1.8-3.5-10.6-28.2-12.3-31.7c-1.8-3.6-0.9-9.5-0.9-9.5c1.6-0.5,2.7-1.2,2.7-2
                            c0-1.4-3.4-2.6-7.7-2.6c-4.3,0-7.7,1.2-7.7,2.6c0,0.8,1.1,1.5,2.7,2c0,0,0.8,6-0.9,9.5c-1.8,3.4-10.6,28.2-12.3,31.7
                            c-2.4,4.7,4.7,7,10.6,7h15.4C126.8,499.6,133.9,497.2,131.5,492.5z" (click)="search('2')"/>
                        <circle class="st8" cx="130.6" cy="441.6" r="7" (click)="search('2')"/>
                        <circle class="st8" cx="140.7" cy="420.1" r="12.1" (click)="search('2')"/>
                        <path class="st8" d="M105.5,449.3c0,1.4,3.4,2.6,7.7,2.6c4.3,0,7.7-1.2,7.7-2.6"/>
                        <path class="st5" d="M127.7,491.4c-1.1-2.8-9.3-26-10.7-28.6c-0.7-1.5-1.1-3.1-1-4.8c0-0.8,0-1.7,0-2.5c-0.1-0.7,0-1.5,0.2-2.2
                            c0.2-0.5,0.4-1,0.6-1.5c-1.2,0.3-2.4,0.4-3.6,0.5c-1.2-0.1-2.4-0.3-3.6-0.6c0.2,0.6,0.4,1.3,0.6,1.9c0.2,0.8,0.2,1.6,0.1,2.4
                            c0.2,2.3-0.1,4.7-0.9,6.9c-1.3,2.6-9.5,25.9-10.6,28.6c-1.5,3.7,3.1,5.6,6.8,5.6h15.4C124.6,496.9,129.3,495.1,127.7,491.4z" (click)="search('2')"/>
                        <ellipse class="st5" cx="113.2" cy="449.3" rx="5" ry="1.7" (click)="search('2')"/>
                        
                            <ellipse transform="matrix(0.829 -0.5592 0.5592 0.829 -207.6963 147.1983)" class="st6" cx="136.9" cy="413.3" rx="2.9" ry="1.5"/>
                        
                            <ellipse transform="matrix(0.829 -0.5592 0.5592 0.829 -223.0945 146.6435)" class="st6" cx="128.3" cy="438.2" rx="1.6" ry="0.8"/>
                        <circle class="st8" cx="118.3" cy="427" r="7" (click)="search('2')"/>
                        
                            <ellipse transform="matrix(0.829 -0.5592 0.5592 0.829 -217.5061 136.9315)" class="st6" cx="115.2" cy="424.2" rx="1.6" ry="0.8"/>
                        <line class="st9" x1="93.7" y1="492.4" x2="113.2" y2="527.5"/>
                        <line class="st9" x1="129.9" y1="487.4" x2="149.4" y2="522.6"/>
                        <path class="st10" d="M131.5,492.5c-1.8-3.5-10.6-28.2-12.3-31.7c-1.8-3.6-0.9-9.5-0.9-9.5c1.6-0.5,2.7-1.2,2.7-2
                            c0-1.4-3.4-2.6-7.7-2.6v52.9h7.7C126.8,499.6,133.9,497.2,131.5,492.5z"/>
                    </g>
                    <g>
                        <ellipse class="st3" cx="363.1" cy="102.7" rx="59.5" ry="59.5" (click)="search('3')"/>
                        <path class="st4" d="M421.9,94.4l-30.1-36.9c-5,8-6.7,17.6-4.9,26.9l0,0c-0.5-0.2-1-0.4-1.5-0.5c-12.1-2.1-20.5-2.3-33.2,4.7
                        c-10.6,6-11.9,21.8-11.9,31.3l-0.8,0.3c-8.3-3.5-17.7-3.6-26-0.2l31.1,39c28.4,9.5,59.5-3.5,72.5-30.5c4-8.6,5.9-18,5.5-27.4
                        C422.5,98.9,422.2,96.6,421.9,94.4z M340.7,122.1L340.7,122.1L340.7,122.1L340.7,122.1z"/>
                        <g>
                            <defs>
                                
                                    <rect id="SVGID_1_" x="310.6" y="80.7" transform="matrix(0.7794 -0.6265 0.6265 0.7794 17.2045 248.3594)" width="101.3" height="38.1"/>
                            </defs>
                            <clipPath id="SVGID_2_">
                                <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                            </clipPath>
                            <g class="st11">
                                <g>
                                    <defs>
                                        
                                            <rect id="SVGID_3_" x="310.6" y="80.7" transform="matrix(0.7794 -0.6265 0.6265 0.7794 17.2045 248.3594)" width="101.3" height="38.1"/>
                                    </defs>
                                    <clipPath id="SVGID_4_">
                                        <use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
                                    </clipPath>
                                    <g class="st12">
                                        <path class="st13" d="M333.1,145.4c1.7-1.8,5.7-7.9,5.5-27.4c-0.2-6.4,0.7-12.8,2.7-18.9c1.2-3.7,3-7.1,5.4-10.1
                                            c2.7-3.2,6.2-5.7,10.1-7.1c4.4-1.6,9-2.3,13.6-2.2c4.6,0.1,9.2,0.7,13.6,1.7c18.9,4.4,25.8,1.9,27.8,0.6"/>
                                        <path class="st13" d="M310.6,117.5c2-1.3,8.8-4,27.9,0.5c1.4,0.3,2.8,0.6,4.2,0.9c1.4,0.2,2.6,0.4,4,0.5s2.4,0.2,3.6,0.3
                                            c1.2,0.1,2.2,0,3.3,0c1.1,0,2,0,3-0.2c1.1-0.2,1.8-0.2,2.7-0.4c0.9-0.2,1.7-0.3,2.5-0.5l2.2-0.6c0.7-0.2,1.3-0.4,2-0.7
                                            c0.7-0.2,1.1-0.4,1.7-0.7l1.4-0.7l1.2-0.7l0.9-0.6l0.7-0.5c0.6-0.4,1.1-0.9,1.7-1.4l0.7-0.7c0.3-0.3,0.6-0.6,0.9-0.9l1-1.1
                                            c0.3-0.4,0.7-0.9,1-1.3c0.3-0.5,0.7-1.1,1.1-1.6c0.3-0.5,0.7-1.2,1.1-2c0.3-0.7,0.7-1.4,1-2.2c0.3-0.7,0.7-1.6,1-2.5
                                            s0.6-1.8,0.9-2.8c0.3-0.9,0.5-2,0.8-3.1c0.2-1.1,0.4-2.3,0.6-3.4c0.2-1.2,0.3-2.5,0.4-3.8c0.1-1.3,0.2-2.7,0.2-4.1v-2.1
                                            c-0.2-19.3,3.6-25.5,5.4-27.3"/>
                                        <path class="st14" d="M342.8,101.7c-0.2,0.5-0.3,1.1-0.5,1.6l11.5,14.3l1.6-0.1L342.8,101.7z"/>
                                        <path class="st14" d="M340.8,111.8l4.4,5.4h0.8h1.1l-6-7.5c0,0.6-0.2,1.2-0.2,2"/>
                                        <path class="st14" d="M371.5,111.4l-19.3-24.1l-0.6,0.4l-0.5,0.4l19.3,24.1l0.7-0.6L371.5,111.4"/>
                                        <path class="st14" d="M348.7,90.4l18.9,23.5l0,0l1.1-0.6l0,0l-19.2-23.8l-0.9,1"/>
                                        <path class="st14" d="M351.4,117.6l-9.6-11.9c-0.1,0.6-0.2,1.1-0.3,1.7l8.2,10.2C350.2,117.6,350.8,117.6,351.4,117.6"/>
                                        <path class="st14" d="M365.9,114.9L347.5,92c-0.3,0.4-0.5,0.8-0.8,1.2l17.9,22.2h0.1L365.9,114.9"/>
                                        <path class="st14" d="M343.5,99.5l14.1,17.6h0.7l0.9-0.2l-15.1-18.9C343.9,98.6,343.7,99,343.5,99.5"/>
                                        <path class="st14" d="M340.5,116.4l1.6,0.3h0.2l-1.8-2.2C340.6,115.2,340.6,115.8,340.5,116.4"/>
                                        <path class="st14" d="M386.2,74.5l5.1,6.4l2,0.3l-6.9-8.6C386.4,73.1,386.4,73.8,386.2,74.5"/>
                                        <path class="st14" d="M386.6,69.8l9.4,11.7l1.8,0.1l-11-13.7C386.8,68.5,386.7,69.2,386.6,69.8"/>
                                        <path class="st14" d="M386,79.5l0.4,0.5l2,0.4l-2.4-3C386,78.1,386,78.8,386,79.5"/>
                                        <path class="st14" d="M387.7,63.7c-0.1,0.5-0.3,1.1-0.4,1.7l13.1,16.3c0.6,0,1.2,0,1.7,0L387.7,63.7z"/>
                                        <path class="st14" d="M389.7,58L408.1,81c0.5-0.1,0.9-0.3,1.4-0.5l-19-23.7C390.2,57.2,389.9,57.6,389.7,58"/>
                                        <path class="st14" d="M362.7,116l-17-21.2c-0.2,0.4-0.5,0.9-0.7,1.3l16.3,20.3L362.7,116"/>
                                        <path class="st14" d="M388.3,61.5l16.2,20.1l1.6-0.2L388.9,60C388.7,60.4,388.5,60.9,388.3,61.5"/>
                                        <path class="st14" d="M316.6,118l17.2,21.4c0.2-0.4,0.4-0.9,0.5-1.5l-16.2-20.1C317.6,117.9,317.1,118,316.6,118"/>
                                        <path class="st14" d="M314.5,118.5c-0.5,0.1-0.9,0.3-1.3,0.5l19,23.6c0.3-0.4,0.5-0.8,0.8-1.2L314.5,118.5z"/>
                                        <path class="st14" d="M322.3,117.7h-1.7l14.4,18c0.1-0.6,0.3-1.1,0.4-1.7L322.3,117.7z"/>
                                        <path class="st14" d="M334.2,119.1l2.4,3c0-0.7,0-1.4,0-2.1l-0.4-0.4L334.2,119.1"/>
                                        <path class="st14" d="M324.8,117.8l11,13.7c0.1-0.6,0.2-1.2,0.2-1.8l-9.4-11.7L324.8,117.8"/>
                                        <path class="st14" d="M371.3,81.9L371.3,81.9l9.6,11.9v-0.2l0.3-1.5L373,81.9L371.3,81.9"/>
                                        <path class="st14" d="M329.4,118.3l6.9,8.6c0-0.7,0.1-1.3,0.1-2l-5.1-6.4L329.4,118.3"/>
                                        <path class="st14" d="M379.1,99.9l-14-17.6l-1.5,0.3l15.1,18.8C378.8,100.9,379,100.4,379.1,99.9"/>
                                        <path class="st14" d="M382.1,83l-1.8-0.3l1.8,2.1L382.1,83"/>
                                        <path class="st14" d="M360,83.4l17,21.2l0.4-0.8c0.1-0.2,0.2-0.3,0.3-0.5l-16.3-20.2L360,83.4"/>
                                        <path class="st14" d="M375.9,106.3L358,84.1c-0.4,0.2-0.9,0.3-1.3,0.5l18.3,22.9l0.3-0.4L375.9,106.3"/>
                                        <path class="st14" d="M381.8,87.7l-4.3-5.4l-2-0.2l6,7.5c0-0.6,0.2-1.2,0.2-1.9"/>
                                        <path class="st14" d="M373.9,109L355,85.5l-1.2,0.7L373,110c0.2-0.2,0.3-0.3,0.5-0.5C373.6,109.3,373.8,109.2,373.9,109"/>
                                        <path class="st14" d="M367.2,82l12.6,15.7l0.4-1.2l0.1-0.4l-11.4-14.2L367.2,82"/>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                    <g>
                        <circle class="st3" cx="566" cy="501.5" r="59.5" (click)="search('4')"/>
                        <g>
                            <g>
                                <g>
                                    <circle class="st15" cx="586.9" cy="481.1" r="10.8"/>
                                    <path class="st15" d="M586.9,492.3c-11.1,0-20,12.3-20,27.5h40C606.9,504.6,598,492.3,586.9,492.3z"/>
                                </g>
                                <g class="st16">
                                    <path d="M586.9,519.8h20c0-15.2-9-27.5-20-27.5V519.8z"/>
                                    <path d="M586.9,470.4v21.5c5.9,0,10.8-4.8,10.8-10.8S592.8,470.4,586.9,470.4z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle class="st17" cx="546.9" cy="481.1" r="10.8"/>
                                    <path class="st17" d="M546.9,492.3c-11.1,0-20,12.3-20,27.5h40C566.9,504.6,558,492.3,546.9,492.3z"/>
                                </g>
                                <g class="st16">
                                    <path d="M546.9,519.8h20c0-15.2-9-27.5-20-27.5V519.8z"/>
                                    <path d="M546.9,470.4v21.5c5.9,0,10.8-4.8,10.8-10.8S552.8,470.4,546.9,470.4z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle class="st18" cx="566.9" cy="489.2" r="10.8"/>
                                    <path class="st18" d="M566.9,500.7c-11.1,0-20,12.3-20,27.5h40C586.9,513,578,500.7,566.9,500.7z"/>
                                </g>
                                <g class="st16">
                                    <path d="M566.9,528.2h20c0-15.2-8.9-27.5-20-27.5V528.2z"/>
                                    <path d="M566.9,478.5V500c5.9,0,10.8-4.8,10.8-10.8C577.7,483.3,572.8,478.5,566.9,478.5L566.9,478.5z"/>
                                </g>
                            </g>
                        </g>
                        <polygon points="574,481.4 574,481.4 574,481.4 	"/>
                        <polygon points="570.5,560.8 570.5,560.8 570.5,560.8 	"/>
                        <path class="st4" d="M595.4,474.7L595.4,474.7c1.5,1.9,2.3,4.2,2.3,6.6l0,0l0,0c0,5.9-4.8,10.7-10.8,10.7l0,0
                            c-5,0-9.3-3.4-10.5-8.3l-1.5-1.5c1.8,2,2.8,4.5,2.8,7.2l0,0l0,0c0,5.9-4.8,10.7-10.8,10.7l0,0c-5.9,0-10.7-4.8-10.8-10.7
                            c0.4-3.5,2.1-6.8,4.8-9.1l-5.4-5.6h-0.2c1.5,1.9,2.3,4.2,2.3,6.6l0,0l0,0c0,5.9-4.8,10.7-10.7,10.7c0,0,0,0,0,0v0.4
                            c6,0,11.3,3.6,15,9.2c3.3-1.2,6.9-1.2,10.1,0c3.7-5.7,9-9.2,15-9.2c0.7,0,1.3,0,2,0.1c0.3,0,0.7,0.1,1,0.2c1,0.2,2,0.5,2.9,0.9
                            l0.9,0.4c0.3,0.1,0.6,0.3,0.9,0.5l0.9,0.6c0.7,0.5,1.4,1,2.1,1.6c1.3,1.1,2.4,2.4,3.4,3.7l0.3,0.5c3.7,5.6,5.6,12.2,5.5,18.9H586
                            c0.6,2.7,1,5.5,1,8.3h-40c0-2.8,0.3-5.6,1-8.3h-21l34.4,40.7l9.2,0.3l0,0l1.4-0.1h0.4h1h0.5l0.9-0.1h0.5l0.9-0.1h0.5l1.1-0.2h0.2
                            l1.3-0.3h0.4l0.9-0.2l0.5-0.1l0.8-0.2l0.5-0.1l0.8-0.3l0.5-0.1l0.9-0.3l0.4-0.1l1.3-0.5l0.4-0.1l0.9-0.3l0.5-0.2l0.7-0.3l0.5-0.2
                            l0.7-0.3l0.5-0.2l0.8-0.4l0.5-0.2l1.2-0.6l0.4-0.2l0.8-0.4l0.5-0.3l0.7-0.4l0.5-0.3l0.6-0.4l0.5-0.3l0.6-0.4l0.5-0.3l0.7-0.4
                            l0.8-0.5l0.7-0.5l0.5-0.4l0.5-0.4c0.2-0.1,0.4-0.3,0.6-0.4l0.5-0.4l0.6-0.4l0.5-0.4l0.6-0.5l0.4-0.4l1.3-1.6l0.3-0.2l0.5-0.6
                            l0.4-0.4l0.6-0.5l0.4-0.4c0.2-0.2,0.4-0.4,0.6-0.6l0.4-0.4l0.6-0.6l0.3-0.3c0.7-0.7,1.3-1.5,2-2.2l0.2-0.2l0.6-0.7l0.2-0.3
                            c0.2-0.2,0.4-0.5,0.6-0.7l0.2-0.3l0.5-0.7l0.2-0.2c0.6-0.9,1.3-1.8,2-2.7l0,0l0.5-0.9l0.2-0.2l0.5-0.8l0.2-0.3
                            c0.2-0.3,0.3-0.6,0.5-0.9l0.1-0.2c0.7-1.3,1.4-2.7,2-4v-0.2l0.4-0.9l0.1-0.2c0.1-0.3,0.3-0.6,0.4-0.9v-0.2c0.6-1.4,1.1-2.9,1.6-4.4
                            l0,0c0-0.4,0.2-0.7,0.3-1v-0.2c0-0.3,0.2-0.7,0.3-1v-0.2c0-0.4,0.2-0.7,0.3-1.1l0,0c0.3-1.2,0.6-2.4,0.8-3.6L621,508L595.4,474.7z"
                            />
                        <path d="M568.7,561L568.7,561z"/>
                        <path d="M567.3,561L567.3,561z"/>
                    </g>
                    <g>
                        <circle class="st3" cx="547" cy="196.9" r="59.5" (click)="search('5')"/>
                        <path class="st19" d="M566.8,236.6h-55.6c-6.5,0,4-5.4,4-11.9v-57.5c0-6.6,5.3-11.9,11.9-11.9h55.6c6.5,0-4,5.4-4,11.9v57.5
                            C578.7,231.3,573.4,236.6,566.8,236.6z" (click)="search('5')"/>
                        <g class="st16" (click)="search('5')">
                            <path class="st7" d="M581.5,230.1l13.5,13.2c0.8,0.8,0.8,2,0,2.8l-5.6,5.7c-0.8,0.8-2,0.8-2.8,0l-13.5-13.2c-0.8-0.8-0.8-2,0-2.8
                                l5.6-5.7C579.5,229.3,580.7,229.3,581.5,230.1z" (click)="search('5')"/>
                            <rect x="568.4" y="222.5" transform="matrix(0.7 -0.7141 0.7141 0.7 7.8248 477.5644)" class="st7" width="7.9" height="13.9" (click)="search('4')"/>
                            <circle class="st7" cx="551" cy="208.8" r="27.8" (click)="search('5')"/>
                        </g>
                        <rect x="562.4" y="204.7" transform="matrix(0.7 -0.7141 0.7141 0.7 18.7865 467.9556)" class="st20" width="7.9" height="13.9" (click)="search('5')"/>
                        <path class="st21" d="M575.5,212.2l21.3,20.8c0.8,0.8,0.8,2,0,2.8l-5.6,5.7c-0.8,0.8-2,0.8-2.8,0l-21.3-20.8c-0.8-0.8-0.8-2,0-2.8
                            l5.6-5.7C573.5,211.5,574.8,211.4,575.5,212.2z" (click)="search('5')"/>
                        <circle class="st6" cx="545" cy="191" r="27.8" (click)="search('5')"/>
                        <path d="M541.6,198.3c0-1.5,0.3-3,0.9-4.4c0.9-1.4,2.1-2.6,3.6-3.6l4.6-3.1c1.7-1,2.8-2.8,2.9-4.7c0-1.5-0.7-3-2-3.8
                            c-1.7-1-3.6-1.5-5.6-1.4c-2-0.1-4,0.3-5.7,1.3c-1.3,0.6-2.1,1.9-2.2,3.4h-6.4c0.1-2.6,1.6-4.9,4-6.1c3.2-1.7,6.7-2.5,10.3-2.3
                            c3.6-0.2,7.1,0.6,10.3,2.4c2.3,1.3,3.7,3.8,3.7,6.4c0,2.7-1.9,5.4-5.7,7.9l-3.8,2.6c-1.7,1.3-2.7,3.3-2.5,5.4L541.6,198.3z
                            M541.3,205.7c0-0.7,0.4-1.4,1-1.8c0.8-0.5,1.8-0.8,2.8-0.7c1-0.1,2,0.2,2.9,0.7c0.6,0.4,1,1,1,1.8c0,0.7-0.4,1.4-1,1.7
                            c-0.9,0.5-1.9,0.8-2.9,0.7c-1,0.1-2-0.2-2.8-0.7C541.7,207,541.3,206.4,541.3,205.7z" (click)="search('5')"/>
                        <circle class="st22" cx="545" cy="191" r="21.8" (click)="search('5')"/>
                        <ellipse transform="matrix(0.8421 -0.5394 0.5394 0.8421 -11.9671 315.7173)" class="st6" cx="533.2" cy="178.3" rx="3.7" ry="2" (click)="search('5')"/>
                    </g>
                    <g>
                        <circle class="st3" cx="321" cy="606.9" r="59.5" (click)="search('2')"/>
                        <path class="st23" d="M304.4,620.8c-1.1,0-2.2-0.6-2.8-1.6l-21.3-34.5c-2.6-4.2-2.3-9.6,0.8-13.5l4.4-5.6c1.1-1.4,3.2-1.7,4.6-0.6
                            c0,0,0,0,0.1,0c1.4,1.2,1.6,3.3,0.5,4.7l-4.4,5.6c-1.3,1.7-1.4,3.9-0.3,5.7l18.4,30l18.5-30c1.1-1.8,1-4.1-0.3-5.8l-4.4-5.6
                            c-1.1-1.5-0.9-3.6,0.5-4.7c1.4-1.1,3.5-0.9,4.6,0.4c0,0,0,0,0.1,0.1l4.4,5.7c3.1,3.9,3.4,9.4,0.8,13.6l-21.3,34.4
                            C306.6,620.2,305.5,620.8,304.4,620.8z" (click)="search('2')"/>
                        <path class="st24" d="M282.4,569.4l0.2,0.2l4,3.4c0.3,0.2,0.6,0.4,1,0.5l2.9-3.8c1.1-1.5,0.9-3.6-0.5-4.7c-1.4-1.2-3.5-0.9-4.6,0.5
                            c0,0,0,0,0,0.1L282.4,569.4z" (click)="search('2')"/>
                        <path class="st24" d="M326.3,569.4l-0.3,0.2l-4,3.4c-0.3,0.2-0.6,0.4-1,0.5l-3-3.8c-1.1-1.5-0.9-3.6,0.5-4.7
                            c1.4-1.1,3.5-0.9,4.6,0.4c0,0,0,0,0.1,0.1L326.3,569.4z" (click)="search('2')"/>
                        <g>
                            <path class="st25" d="M284.3,564.3l2.9-3.6c1.7-2.2,4.8-2.6,7-0.9c0,0,0.1,0.1,0.1,0.1c2.1,1.8,2.4,4.9,0.6,7l-3,3.7
                                c-0.8,1-2.2,1.2-3.3,0.4c0,0,0,0-0.1,0l-4-3.4C283.7,566.9,283.5,565.4,284.3,564.3z" (click)="search('2')"/>
                            <path class="st25" d="M324.5,564.3l-2.9-3.6c-1.7-2.2-4.9-2.5-7.1-0.8c0,0-0.1,0-0.1,0.1c-2.1,1.8-2.3,4.9-0.6,7l2.9,3.7
                                c0.8,1,2.2,1.2,3.3,0.4c0,0,0,0,0.1,0l4-3.4C325.1,566.8,325.3,565.3,324.5,564.3z" (click)="search('2')"/>
                        </g>
                        <path class="st26" d="M329.8,656.2H324c-12.8-0.2-23-10.6-22.9-23.4v-15.4c-0.1-1.8,1.2-3.4,3.1-3.6c1.8-0.1,3.4,1.2,3.6,3.1
                            c0,0.2,0,0.3,0,0.5v15.4c-0.1,9.1,7.2,16.5,16.3,16.6h5.7c12.1-0.1,21.9-9.9,21.8-22.1c0,0,0,0,0,0v-9.9c-0.1-1.8,1.2-3.4,3.1-3.6
                            c1.8-0.1,3.4,1.2,3.6,3.1c0,0.2,0,0.3,0,0.5v9.9C358.4,643.2,345.7,656.1,329.8,656.2C329.8,656.2,329.8,656.2,329.8,656.2z" (click)="search('2')"/>
                        <path class="st24" d="M354.8,614.1c-1.9,0-3.3,1.5-3.3,3.4c0,0,0,0,0,0v8.3c2.2,0.7,4.5,0.7,6.6,0v-8.3
                            C358.2,615.6,356.7,614.1,354.8,614.1z" (click)="search('2')"/>
                        <path class="st24" d="M307.7,626.8v-9.3c0.1-1.8-1.2-3.4-3.1-3.6c-1.8-0.1-3.4,1.2-3.6,3.1c0,0.2,0,0.3,0,0.5v9.3
                            C302.9,628.5,305.9,628.5,307.7,626.8z" (click)="search('2')"/>
                        <ellipse class="st25" cx="354.8" cy="610.4" rx="11.2" ry="11.4"/>
                        <ellipse class="st27" cx="354.8" cy="610.4" rx="6" ry="6.1"/>
                        <path class="st24" d="M363.6,617.6c-11.4,1-14.6-13.7-11.5-18.3c-6.1,1.7-9.7,8-8,14.1c1.3,4.9,5.7,8.3,10.8,8.4
                            C358.2,621.8,361.4,620.2,363.6,617.6z" (click)="search('2')"/>
                        <path class="st27" d="M317.8,607.6l-8.5,13.9c-1.6,2.7-5.1,3.6-7.8,1.9c-0.8-0.5-1.4-1.1-1.9-1.9l-8.5-13.9c-0.9-1.4-0.4-3.2,0.9-4
                            c0.4-0.3,1-0.4,1.5-0.4h21.8c1.6,0,2.9,1.3,3,2.9C318.2,606.5,318.1,607.1,317.8,607.6z" (click)="search('2')"/>
                        <path class="st28" d="M294.7,613.6l4.8,7.8c1.6,2.7,5.1,3.6,7.8,1.9c0.8-0.5,1.4-1.1,1.9-1.9l4.8-7.8H294.7z" (click)="search('2')"/>
                        <path class="st24" d="M299.5,621.4c1.6,2.7,5.1,3.6,7.8,1.9c0.8-0.5,1.4-1.1,1.9-1.9l1.8-3c-7.5,4.6-12.8-10.2-14-15.3h-3.6
                            c-1.6,0-2.9,1.4-2.9,3c0,0.5,0.2,1,0.4,1.5L299.5,621.4z" (click)="search('2')"/>
                    </g>
                </svg>
            </div>
        </div>
    </ion-content>