// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.userimg{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    top: 6px;
}
.email{
    margin: 0;
    color: #fefefe;
    font-size: 15px;
}
.arrowicon{
    float: right;
    color: #fefefe;
}
.list-md .item-block .item-inner {
    border-bottom: none !important;
}
.item-md.activated{
    background-color: 	#5c9be5 !important;
  }